<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ES6 - ES7 - ES8</title>
  </head>

  <body>
    <h1>Teste</h1>
    <h1 style="color: red">Novo HTML</h1>
    <hr />
    <p>Esse pdf tem varios conteudos</p>
    <hr />

    <table class="tg">
      <tbody>
        <tr>
          <td class="tg-0lax">
            <img
              style="width: 120px;"
              src="https://static.wixstatic.com/media/ab3ac7_b2de441b15e8462e96e74029d9bb465d~mv2.gif"
            /><br />
          </td>
          <td class="tg-0lax">
            <img
              style="height: 75px; padding-right: 20px;"
              src="https://static.wixstatic.com/media/ab3ac7_6043594cf2a04109bbcbacf6127680c5~mv2.png"
            />
          </td>
          <td class="tg-0lax">
            <p style="font-family: Arial, sans-serif; font-size: 12px;">
              <a style="font-weight: bold;"><%= nome %></a><br />
              (61) 99803-3526<br />
              (61) 3361-5160<br />
              <a style="color: black;" href="http://www.firstdecision.com.br/"
                >firstdecision.com.br</a
              >
            </p>
          </td>
        </tr>
        <tr>
          <td class="tg-0lax">
            <img
              style="padding-top: 20px; width: 70%;"
              src="https://static.wixstatic.com/media/ab3ac7_e503b1de6b184cee832da96cac2e381a~mv2.png"
            />
          </td>
          <td class="tg-0lax">&nbsp;</td>
          <td class="tg-0lax">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
